:root {
  --primary-color: rgba(42, 46, 51, 255) !important;
  --secondary-color: rgba(255, 102, 0, 255) !important;
}

body { 
  background: linear-gradient(180deg, var(--primary-color) 0%, rgba(16,16,18,255));
  color: #f1f3f3 !important;
  font-family: "Jost", sans-serif !important;
}

.cel {
  display: flex;
  justify-content: space-between;
  padding: 3.5%;
}

h1 {
  padding-left: 3.5% !important;
  font-size: 2rem !important;
}

.btn-outline-warning {
  padding: 1.5% !important;
  width: 12vw !important;
  height: 5vh !important;
}
.divseleccion {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.cardpag3 {
  display: flex !important;
  margin-left: 15px !important;
  background-color: var(--primary-color) !important;
}
.card-body {
  display: flex !important;
  justify-content: space-around !important;
}
.card2 {
  display: flex I !important;
  align-items: center !important;
}